@model List<Final_Project.Models.User>

<!DOCTYPE HTML>
<!--[if IE 7 ]>    <html lang="en-gb" class="isie ie7 oldie no-js"> <![endif]-->
<!--[if IE 8 ]>    <html lang="en-gb" class="isie ie8 oldie no-js"> <![endif]-->
<!--[if IE 9 ]>    <html lang="en-gb" class="isie ie9 no-js"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> 
<html lang="en-gb" class="no-js"> <!--<![endif]-->
<head>
<meta http-equiv="content-Type" content="text/html; charset=utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"> 
    <style>
        .p1 {
            padding-top:10px;
        }
        .adm {
            padding-top:10px;
        }
    </style>
</head>
<body class="main">
	<!--wrapper starts-->
    <div class="wrapper">
        <!--header starts-->
        <!--header ends-->
        <!--main starts-->
        <div id="main">
            <section class="fullwidth-background turquoise-plain-bg">
                        <!--container starts-->
                        <div class="container"> 
                        	<h2 class="dt-sc-hr-white-title">Parent's Profile</h2> 
                           
                            <table>
                                @foreach (var u in Model)
                                {
                                    if (u.U_Id == int.Parse(Session["Uid"].ToString()))
                                    {

                                        @*<tr>
                                            <td>
                                                <h2>@u.U_Id</h2>
                                            </td>
                                        </tr>*@
                                        <tr>
                                            <td>
                                                <h2>@u.UserName</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h2>@u.Password</h2>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h1>Update Profile</h1>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <h3><a href="/Services/Update/@u.U_Id">Click to Update</a></h3>
                                            </td>
                                        </tr>


                                    }
                                }



                            </table>

                        </div>
                        <!--container ends-->
                    </section>
        </div>
        <!--main ends-->
        
        <!--footer starts-->
        <!--footer ends-->
        
    </div>
    <!--wrapper ends-->
    <a href="services.html" title="Go to Top" class="back-to-top">To Top ↑</a>
    <!--Java Scripts-->
</body>
</html>
